doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#banner
      h1 Awesome Chat!
    block content
    footer This place is fucking AWESOME!
    script(src="/javascripts/live_reload.js")
    script(type="text/javascript", src="/javascripts/jquery.min.js")