<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <title>To Do</title>
</head>
<body ng-controller="ToDoController">
  <ul ng-repeat="todo in toDoArray">
    <li ng-if="todo.done">
      <input type="checkbox" ng-model="todo.done">
      <span>{{todo.content}}</span>
      <button ng-click="remove($index)">Remove</button>
    </li>
  </ul> 
  <div>
    <form ng-submit="add()">
      <input type="text" ng-model="formData.content">
      <input type="submit">
    </form>
  </div>

  <script src="angular.min.js"></script>
  <script src="toDoController.js"></script> 
</body>
</html>