html {
  height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0%;
  height: -moz-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
}

#chatroom {
  height: moz-calc(100% - 80px);
  height: -webkit-calc(100% - 80px);
  height: calc(100% - 80px);
  background-color: #FFF;
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
}

div#messages {
  height: moz-calc(100% - 35px);
  height: -webkit-calc(100% - 35px);
  height: calc(100% - 35px);
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input#message {
  width: moz-calc(100% - 120px);
  width: -webkit-calc(100% - 120px);
  width: calc(100% - 120px);
  margin: 5px;
  margin-left: 15px;
}

input#send{
  width: 74px;
}

header {
  text-align: right;
  margin-top: 15px;
}

header h1 {
  padding: 5px;
  padding-right: 15px;
  margin: 0px;
}
footer {
  padding: 6px;
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 5px;
  margin-bottom: 5px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.modal {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: -moz-calc(100% - 102px);
  height: -webkit-calc(100% - 102px);
  height: calc(100% - 102px);
  left: 0;
  position: absolute;
  top: 62px;
  width: 100%;
  z-index: 100;
}

.backdrop {
  width: 100%;
  height: -moz-calc(100% + 10px);
  height: -webkit-calc(100% + 10px);
  height: calc(100% + 10px);
  background-color: #777777;
}

.popup {
  position: absolute;
  height: 100px;
  width: 300px;
  left: -moz-calc(50% - 150px);
  left: -webkit-calc(50% - 150px);
  left: calc(50% - 150px);
  top: -moz-calc(50% - 50px);
  top: -webkit-calc(50% - 50px);
  top: calc(50% - 50px);
  background: #FFFFFF;
}

.pophead {
  background-color: #4192C1;
  color: #FFFFFF;
  font-weight: bold;
  padding: 8px 3px;
  vertical-align: middle;
}

.popbody {
  padding: 10px 5px;
  margin-top: 10px;
}

#nickname {
  width: 200px;
  border-radius: 5px;
  margin: 5px;
  
}

a {
  color: #00B7FF;
}